{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "G": false,
    "__DEVELOPMENT__": false,
    "Velocity": false
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}